{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}
{% block body %}
    <div class="container">
    <div class="row head__title justify-content-center">

        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="#">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">A propos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>

    </div>
    <div class="row ">
        <div class="col-md-2 body__left">
            <nav class="nav flex-column"><!-- menu simple -->

                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Article</a>
                    <div class="dropdown-menu"> <!-- bloc déroulant -->
                        <a class="dropdown-item" href="{{ path('admin_article_new') }}">Nouveau</a>
                        <a class="dropdown-item" href="{{ path('admin_article_list') }}">liste</a>
                        <a class="dropdown-item" href="{{ path('admin_article_edit', {'id': 'x'}) }}">edit</a>
                    </div>
                    <a class="nav-link" href="#">A propos</a>
                    <a class="nav-link" href="#">Services</a>
                    <a class="nav-link" href="#">Contact</a>
                </nav>
            </nav>
        </div>
        <div class="col-md-10 body__right">


                {% block content_body %}

                {% endblock %}


        </div>
    </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

