{% extends 'base.html.twig' %}

{% block title %}HOMEPAGE!{% endblock %}
{% block header %}
    {{ include('comite/header.html.twig') }}

{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offre-img"><img class="img-fluid" src="{{ asset('build/images/fairground.jpg') }}">

            </div>
            <div class="col-lg-2 recduction-img"><img class="img-fluid" src="{{ asset('build/images/ten-percent-off.png') }}"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 ticket-img"><img class="img-fluid" src="{{ asset('build/images/tickets.jpg') }}"> </div>
            <div class="col-lg-4 pvCe-img"><img class="img-fluid" src="{{ asset('build/images/pen.jpg') }}"></div>
            <div class="col-lg-4 news-letter"><img class="img-fluid" src="{{ asset('build/images/e-mail.jpg') }}"></div>
        </div>



    </div>

{% endblock %}
