{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="container">
        <div class="row justify-content-center site__title">
            <h1>{{ title|upper }}</h1>
        </div>

        <div class="row">


            {% for partner in partners  %}

                <div class="col-md-4 ticket__offer">
                    <img class="img-fluid" src="uploads/partner_image/{{partner.pathImage}}">
                    <div class="ticket__offer__title" >{{ partner.name}}</div>
                    <div class="ticket__offer__circle"><br>{{ partner.typeReduction}} </div>
                </div>
            {% endfor %}


        </div>
    </div>

{% endblock %}