{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="container">
    <div class="row justify-content-center ticket__title">
        <div class="col-md-4 "><h1>{{ title }}</h1></div>
    </div>

        <div class="row">


          {% for ticket in tickets  %}

            <div class="col-md-4 ticket__offer">
                <img class="img-fluid" src="uploads/ticket_image/{{ticket.image}}">
                <div class="ticket__offer__title" >  {{ ticket.title }}</div>
                <div class="ticket__offer__circle"><br>{{ ticket.priceCE }} €</div>
            </div>
            {% endfor %}


        </div>
        </div>

{% endblock %}