{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="container">
    <div class="row justify-content-center site__title">
        <h1>{{ title|upper }}</h1>
    </div>

        <div class="row">


          {% for ticket in tickets  %}

            <div class="col-md-4 ticket__offer">
                <img class="img-fluid" src="{{uploaded_asset(ticket.imagePath)}}">
                <div class="ticket__offer__title" >  {{ ticket.title }}</div>
                <div class="ticket__offer__circle"><br>{{ ticket.priceCE }} €</div>
            </div>
            {% endfor %}


        </div>
        </div>

{% endblock %}