{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="container">
    <div class="row ticket__title">
        <h1>{{ title }}</h1>
    </div>

        <div class="row">


          {% for ticket in tickets  %}

            <div class="col-md-4 ticket__offer">
                <img class="img-fluid" src="{{ticket.image}}">
                <div class="ticket__offer__title"><h4>{{ ticket.title }}</h4></div>
                <div class="ticket__offer__circle">{{ ticket.priceCE }} €</div>
            </div>
            {% endfor %}


        </div>
        </div>

{% endblock %}